/* Секция главной страницы */
.home-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px;
}

.home-title {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

.home-description {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
}
