<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/VAII_KULINAR_WEB/public/assets/css/styles.css"> <!-- Путь к стилям -->
    <title id="page-title">Domov - Kulinársky Web</title>
</head>
<body>

<header class="header">
    <img src="/VAII_KULINAR_WEB/public/assets/images/logo.png" alt="Logo" class="logo">
    <h1 id="main-header">Domov</h1>
    <nav>
        <ul>
            <li><a href="index.html" class="button-nav">Domov</a></li>
            <li><a href="about.html" class="button-nav">O nás</a></li>
            <li><a href="recipes.html" class="button-nav">Recepty</a></li>
        </ul>
    </nav>
    <a href="admin.html" class="button-nav admin-button">Pridat recept</a>
</header>

<main>
    <section class="intro">
        <h2>Vitajte na našom Kulinárskom webe!</h2>
        <p>Na tomto webe môžete nájsť množstvo chutných receptov a pridať svoje vlastné...</p>
    </section>

    <section class="featured-dishes">
        <div id="recipe-container" class="recipe-list"></div>
    </section>
</main>

<footer>
    <p>&copy; 2024 Kulinársky Web</p>
</footer>

<script src="/VAII_KULINAR_WEB/public/assets/js/script.js"></script>

</body>
</html>
